@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #27467c;
  --secondary-color: #18cfed;
  --subtitle: "Dancing Script", cursive;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
